<div class="container">
    <div class="joyRide" ng-controller="introCtrl" ng-hide="dismiss">
        <div class="hide" ng-joy-ride="startJoyRide" config="config" on-finish="onFinish()" on-skip="onFinish()"></div>
        <div style="font-size:22px;" class="alert alert-danger" role="alert">
            <button type="button" ng-click="dismissBanner()" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span>
            </button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">New here?:</span> If you are new to the topic, check out the <a ng-joy-ride="startJoyRide" config="config" ng-click="start()" on-finish="onFinish()" on-skip="onFinish()" href="">Tour</a>
        </div>
    </div>

    <div class="row">
        <div class="box">

            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Start <strong>Searching</strong></h2>
                <hr>
            </div>

            <div ng-app="search">
                <div ng-controller="SearchCtrl">
                    <div class="col-md-6" id="picture">
                        <a href="#" ng-click="openLightboxModal(images)"><img class="imagedropshadow" style="max-width: 600px; width: 100%;" err-SRC="/images/nodata.png" ng-src="{{onEditChangeResult}}" /></a>
                        <br /><br />
                        <!--<img class="imagedropshadow" style="max-width: 600px; width: 100%;" ng-src="{{radioImage}}" err-SRC="/images/noradio.png" /> -->
                        <div>
                            <h4>Informations about this Image:</h4>
                                <ul>
                                    <li><p style="margin-bottom: 0px;">RA: {{coordinateRa|limitTo:14}}</p></li>
                                    <li><p>DEC: {{coordinateDec|limitTo:14}}</p></li>
                                </ul>
                            <h4>Your progress so far in this search:</h4>
                                <ul>
                                    <li><p>Completed Images: {{completedImages}} / 100 ({{completedImages}}%)</p></li>
                                </ul>
                        </div>
                    </div> 
                    <div class="col-md-6">
                        <div id="task" class="question dropshadowclass" style="text-align: center;" ng-include src="template.url">
                        </div>
                        <br />
                        <br />
                        <div class="tools dropshadowclass" style="text-align: center; font-size: 1.5em">
                            <p>Tools:</p>
                            <div style="margin-right: 60px; margin-left: 60px;">
                                <div style="margin-right: 20px; margin-left: 20px;" id="tools_zoom">
                                    <label for=fader>Image Scale</label>
                                    <input value="1" type=range min="1" max="8" id="fader" step="1" list="slider" ng-model="editValue" ng-change="onEditChange()" />
                                    <datalist id="slider">
                                        <option value="1" selected="selected">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                    </datalist>
                                </div>
                                <!--
<label>Check1:<input type="checkbox" ng-model="check1Selected" ng-change="onCheckBoxChange()" /></label>!-->
                                <div id="tools_style">
                                    <label>
                                        <input type="radio" ng-model="radioValue" value="normal" ng-change="onRadioChange()" /> normal</label>
                                    <label>
                                        <input type="radio" ng-model="radioValue" value="small" ng-change="onRadioChange()" /> clean</label>
                                    <label>
                                        <input type="radio" ng-model="radioValue" value="inverted" ng-change="onRadioChange()" /> inverted</label>
                                    <label>
                                        <input type="radio" ng-model="radioValue" value="point" ng-change="onRadioChange()" /> objects with spectra</label>
                                    <label>
                                        <input type="radio" ng-model="radioValue" value="radio" ng-change="onRadioChange()" /> radio</label>
                                    <label>
                                        <input type="radio" ng-model="radioValue" value="xray" ng-change="onRadioChange()" /> X-Ray</label>
                                </div>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#sdssHomepage">
                                    See on SDSS Homepage
                                </button>
                                <button id="tools_rating" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#rateGalaxy">
                                   Rate this Galaxy!
                                </button><br />
                                <br />

                                <!-- Modal -->
                                <div class="modal fade" id="sdssHomepage" tabindex="-1" role="dialog" aria-labelledby="sdssHomepageLabel">
                                    <div class="sdss_modal modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="sdssHomepageLabel">SDSS Homepage extract</h4>
                                            </div>
                                            <div class="modal-body">
                                                <iframe src="{{sdssUrl | trustAsResourceUrl}}"></iframe>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             <div class="modal fade" id="rateGalaxy" tabindex="-1" role="dialog" aria-labelledby="rateGalaxyLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="rateGalaxyLabel">Rate this Galaxy</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div id="task" class="question" style="text-align: center;" ng-include src="rateTemplate.url">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                
                                <br />
                            </div>

                        </div>

                        <div id="finish" class="clearfix"></div>
                    </div>
                        <br />
                        <br />
                        <div id="tools_spectra" class="tools dropshadowclass" style="text-align: center; font-size: 1.5em">
                            <p>List of Spectras:</p>
                            <div class="table-responsive">          
                        <table class="table">
                          <thead>
                            <tr>
                              <th class="centered">RA</th>
                              <th class="centered">DEC</th>
                              <th class="centered">SPECTRA</th>
                            </tr>
                          </thead>
                          <tbody>
                              <tr ng-repeat="spectra in spectras">
                                  <td>{{spectra.ra}}</td>
                                  <td>{{spectra.dec}}</td>
                                  <td><button id="tools_spectra_click" ng-click="toggle(spectra.specobjid)" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#seeSpectra">See Spectra</button></td>
                              </tr>
                          </tbody>
                        </table>
                        </div>
                        <div class="modal fade" id="seeSpectra" tabindex="-1" role="dialog" aria-labelledby="seeSpectraLabel">
                                    <div class="modal-dialog" role="document" style="width: 1200px;">
                                        <div class="modal-content" style="width: 1200px;">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="rateGalaxyLabel">See Spectra in detail:</h4>
                                            </div>
                                            <div class="modal-body">
                                                <img class="imagedropshadow" ng-src="{{currentSpectra}}" />
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                
                                <br />
                            </div>

                        <div id="finish" class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- /.container -->
